*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,500px);
    grid-template-rows: repeat(2,200px);
    /* grid-gap: 20px; */

    /* align them inside the box item */
    /* justify-items: center;
    align-items: center; */

    /* align them inside the container */
    justify-content: center;
    align-content: center;

    height: 100vh;
    border: 5px solid lightcoral;
}
.grid-item{
    background-color: lightblue;
    border: 2px solid lightseagreen;
    padding: 20px;

    min-width: 300px;
}

